<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Wikipedia</title>
	<style>
		body{
			font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
			background-color: #eeeeee;
		}
		.submit-button{
			border-radius: 10px;
		}
	</style>
</head>
<body>
	<form action="/" method="get">
		<input type="text" name="keyword">
		<input type="submit" value="検索" class="submit-button">
	</form>
	<%= @result %>
</body>
</html>
